<div
    class="relative isolate w-full overflow-hidden bg-slate-600 py-24 sm:py-32"
>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="flex items-center justify-between">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <p
                    class="mb-2 text-base font-semibold leading-7 text-slate-100"
                >
                    Ipsum dolor anim qui
                </p>
                <h2
                    class="font-display text-4xl font-bold tracking-tight text-white sm:text-6xl"
                >
                    Event Name delucit ipsum dolor sit amet consectetur
                </h2>
                <p class="mt-6 text-lg leading-8 text-gray-300">
                    Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure
                    qui lorem cupidatat commodo. Elit sunt amet fugiat veniam
                    occaecat fugiat aliqua.
                </p>
            </div>
        </div>
        <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
            <dl
                class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4"
            >
                <div class="flex flex-col-reverse">
                    <dt
                        class="flex items-start gap-2 text-base leading-7 text-gray-300"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="24"
                            viewBox="0 -960 960 960"
                            width="24"
                            class="h-6 w-6"
                        >
                            <path
                                fill="currentColor"
                                d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"
                            />
                        </svg>
                        <span>Location</span>
                    </dt>
                    <dd
                        class="font-display text-2xl font-bold leading-9 tracking-tight text-white"
                    >
                        London, UK
                    </dd>
                </div>
                <div class="flex flex-col-reverse">
                    <dt class="flex gap-2 text-base leading-7 text-gray-300">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="24"
                            viewBox="0 -960 960 960"
                            width="24"
                            class="h-6 w-6"
                        >
                            <path
                                fill="currentColor"
                                d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"
                            />
                        </svg>
                        <span>Date</span>
                    </dt>
                    <dd
                        class="font-display text-2xl font-bold leading-9 tracking-tight text-white"
                    >
                        31/01/2024
                    </dd>
                </div>
                <div class="flex flex-col-reverse">
                    <dt class="flex gap-2 text-base leading-7 text-gray-300">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="24"
                            viewBox="0 -960 960 960"
                            width="24"
                            class="h-6 w-6"
                        >
                            <path
                                fill="currentColor"
                                d="m612-292 56-56-148-148v-184h-80v216l172 172ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z"
                            />
                        </svg>
                        <span>Time</span>
                    </dt>
                    <dd
                        class="font-display text-2xl font-bold leading-9 tracking-tight text-white"
                    >
                        13:00
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>
<div class="relative isolate w-full bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="grid grid-cols-7 gap-16">
            <div class="relative col-span-2">
                <div class="sticky top-4">
                    <h2 class="mb-8 font-display text-2xl">
                        Subject Matter Expert
                    </h2>
                    <div
                        class="aspect-[3/2] w-full rounded-2xl bg-slate-200 object-cover"
                    ></div>
                    <h3
                        class="mt-6 font-display text-lg font-semibold leading-8 text-gray-900"
                    >
                        Tony Hawk
                    </h3>
                    <p class="text-base leading-7 text-gray-600">
                        CEO & Founder
                    </p>
                    <p class="mt-4 text-base leading-7 text-gray-600">
                        Praesentium iure error aliquam voluptas ut libero.
                        Commodi placeat sit iure nulla officiis. Ut ex sit
                        repellat tempora. Qui est accusamus exercitationem natus
                        ut voluptas. Officiis velit eos ducimus.
                    </p>
                    <ul role="list" class="mt-6 flex gap-x-6">
                        <li>
                            <a
                                href="#"
                                class="text-gray-400 hover:text-gray-500"
                            >
                                <span class="sr-only">Twitter</span>
                                <svg
                                    class="h-5 w-5"
                                    fill="currentColor"
                                    viewBox="0 0 20 20"
                                    aria-hidden="true"
                                >
                                    <path
                                        d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84"
                                    />
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#"
                                class="text-gray-400 hover:text-gray-500"
                            >
                                <span class="sr-only">LinkedIn</span>
                                <svg
                                    class="h-5 w-5"
                                    fill="currentColor"
                                    viewBox="0 0 20 20"
                                    aria-hidden="true"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z"
                                        clip-rule="evenodd"
                                    />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-span-5">
                <div>
                    <h2 class="mb-8 font-display text-2xl">
                        Event Description
                    </h2>
                    <p class="text-base leading-7 text-gray-600">
                        Praesentium iure error aliquam voluptas ut libero.
                        Commodi placeat sit iure nulla officiis. Ut ex sit
                        repellat tempora. Qui est accusamus exercitationem natus
                        ut voluptas. Officiis velit eos ducimus.
                    </p>
                    <p class="mt-4 text-base leading-7 text-gray-600">
                        Praesentium iure error aliquam voluptas ut libero.
                        Commodi placeat sit iure nulla officiis. Ut ex sit
                        repellat tempora. Qui est accusamus exercitationem natus
                        ut voluptas. Officiis velit eos ducimus.
                    </p>
                    <h2 class="mb-8 mt-8 font-display text-2xl">Topics</h2>
                    <ul>
                        <li class="text-base leading-7 text-gray-600">
                            Praesentium iure error aliquam voluptas ut libero.
                            Commodi placeat sit iure nulla officiis. Ut ex sit
                            repellat tempora. Qui est accusamus exercitationem
                            natus ut voluptas. Officiis velit eos ducimus.
                        </li>
                        <li class="mt-4 text-base leading-7 text-gray-600">
                            Placet sit iure nulla officiis. Ut ex sit repellat
                            tempora. Qui est accusamus exercitationem natus ut
                            voluptas. Officiis velit eos ducimus.
                        </li>
                        <li class="mt-4 text-base leading-7 text-gray-600">
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Nihil, porro beatae. Non voluptates, dicta
                            corrupti ipsam aperiam ullam magnam quasi illum
                            reprehenderit quae dolore quo aspernatur iusto sed
                            veritatis incidunt!
                        </li>
                        <li class="mt-4 text-base leading-7 text-gray-600">
                            Praesentium iure error aliquam voluptas ut libero.
                            Commodi placeat sit iure nulla officiis. Ut ex sit
                            repellat tempora. Qui est accusamus exercitationem
                            natus ut voluptas. Officiis velit eos ducimus.
                        </li>
                        <li class="mt-4 text-base leading-7 text-gray-600">
                            Praesentium iure error aliquam voluptas ut libero.
                            Commodi placeat sit iure nulla officiis. Ut ex sit
                            repellat tempora. Qui est accusamus exercitationem
                            natus ut voluptas. Officiis velit eos ducimus.
                        </li>
                    </ul>
                    <h2 class="mb-8 mt-16 font-display text-2xl">Agenda</h2>
                    <ul>
                        <li class="text-base leading-7 text-gray-600">
                            First part: Lorem ipsum
                        </li>
                        <li class="text-base leading-7 text-gray-600">
                            Second part: Lorem ipsum
                        </li>
                        <li class="text-base leading-7 text-gray-600">
                            Third part: Lorem ipsum
                        </li>
                    </ul>
                    <h2 class="mb-8 mt-16 font-display text-2xl">
                        About Company X
                    </h2>
                    <p class="text-base leading-7 text-gray-600">
                        Praesentium iure error aliquam voluptas ut libero.
                        Commodi placeat sit iure nulla officiis. Ut ex sit
                        repellat tempora. Qui est accusamus exercitationem natus
                        ut voluptas. Officiis velit eos ducimus.
                    </p>
                    <p class="mt-4 text-base leading-7 text-gray-600">
                        Praesentium iure error aliquam voluptas ut libero.
                        Commodi placeat sit iure nulla officiis. Ut ex sit
                        repellat tempora. Qui est accusamus exercitationem natus
                        ut voluptas. Officiis velit eos ducimus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
